<p>Versão Atual:

</p>

<footer id="footer" class="cor-footer bg-light">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <div class="row">
          <div class="col-md-12">
            <p class="text-center remover-margin texto-footer">{{retornarAnoAtual()}} - Fabiana Tavares </p>

          </div>
          <div class="col-md-12">
            <p class="text-center reduzir-padding-top texto-footer remover-margin"> Versão Atual:
              <a routerLink="/changelog" title="versão">
                {{version}}
              </a>
            </p>
          </div>
        </div>

      </div>
      <p></p>
      <div class="col-md-4 d-flex justify-content-end">
        <div>

        </div>
      </div>
    </div>
  </div>
</footer>
